<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <style>
        body{
            background:black;
            color:red;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="images/train.png" style="width:100%"/>
        </div>
        <div class="col-md-8"><h2>Trains from Piccadilly</h2></div>
    </div>

    <hr/>
    <div class="table">
        <div class="row">
            <div class="col-md-2">1608</div>
            <div class="col-md-6">North Haverbrook</div>
            <div class="col-md-4">ON TIME</div>
        </div>
        <div class="row">
            <div class="col-md-2">1748</div>
            <div class="col-md-6">Ogdenville</div>
            <div class="col-md-4">DELAY 1804</div>
        </div>
        <div class="row">
            <div class="col-md-2">1752</div>
            <div class="col-md-6">Five Corners</div>
            <div class="col-md-4">ON TIME</div>
        </div>
        <div class="row">
            <div class="col-md-2">1900</div>
            <div class="col-md-6">Rancho Relaxo</div>
            <div class="col-md-4">ON TIME</div>
        </div>
    </div>
</div>


<meta http-equiv="refresh" content="5;url=002_metrolink" />
</body>
</html>

